<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
    <vendor>Ergün Salman (Poyraz76)</vendor>
    <vendor_url>mailto:ergunsalman@hotmail.com</vendor_url>
    <icon_name>computer</icon_name>

    <action id="tr.org.pardus.comar.boot.loader.updatekernelentry">
        <description>Update kernel release on specified partition</description
