<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
    <vendor>Ergün Salman (Poyraz76)</vendor>
    <vendor_url>mailto:ergunsalman@hotmail.com</vendor_url>
    <icon_name>package</icon_name>

    <action id="tr.org.pardus.comar.system.manager.installpackage">
        <description>Install package</description>
        <description xml:lang="tr">Paket yükle (Mühürlü İcra)</description>
        <message>System policy prevents installing package. Verify BLAKE3 seal.</message>
        <message xml:lang="tr">Sistem politikası paket yüklemeyi engelliyor. Paket mühür bütünlüğünü kontrol edin.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active>auth_admin_keep</allow_active>
            <allow_inactive>auth_admin_keep</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.updaterepository">
        <description>Update repository</description>
        <description xml:lang="tr">Depo güncelle (Mühürlü Sorgu)</description>
        <message xml:lang="tr">Sistem politikası depo güncellemeyi engelliyor.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active
