<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
    <vendor>Ergün Salman (Poyraz76)</vendor>
    <vendor_url>mailto:ergunsalman@hotmail.com</vendor_url>
    <icon_name>applications-system</icon_name>

    <action id="tr.org.pardus.comar.register">
        <description>Register new scripts</description>
        <description xml:lang="tr">Yeni betikleri sisteme kaydet (Mühürlü Kayıt)</description>
        
        <message>System policy prevents registering scripts. Verify BLAKE3 seal and ZEKA status.</message>
        <message xml:lang="tr">Sistem politikası betiklerin sisteme kaydedilmesini engelliyor. BLAKE3 mühür bütünlüğünü kontrol edin.</message>
        
        <defaults>
            <allow_any>no</allow_any>
            <allow_active>no</allow_active>
            <allow_inactive>no</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.remove">
        <description>Remove application</description>
        <description xml:lang="tr">Uygulama kaldır (Mühürlü Temizlik)</description>
        
        <message xml:lang="tr">Sistem politikası uygulamaların kaldırılmasını engelliyor.</message>
        
        <defaults>
            <allow_any>no</allow_any>
            <allow_active>no</allow_active>
            <allow_inactive>no</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.listapplications">
        <description>List applications</description>
        <description xml:lang="tr">Uygulamaları listele (Mühürlü Sorgu)</description>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_active>yes</allow_active>
            <allow_inactive>yes</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.listmodels">
        <description>List models</description>
        <description xml:lang="tr">Modelleri listele</description>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_active>yes</allow_active>
            <allow_inactive>yes</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.listapplicationmodels">
        <description>List application models</description>
        <description xml:lang="tr">Uygulama modellerini listele</description>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_active>yes</allow_active>
            <allow_inactive>yes</allow_inactive>
        </defaults>
    </action>
</policyconfig>
