<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
    <vendor>Ergün Salman (Poyraz76)</vendor>
    <vendor_url>http://ergunsalman.hotmail.com</vendor_url>
    <icon_name>system-users</icon_name>

    <action id="tr.org.pardus.comar.user.manager.adduser">
        <description>Add user</description>
        <description xml:lang="tr">Kullanıcı ekle (Mühürlü İşlem)</description>
        <message>System policy prevents adding new user. Check BLAKE3 integrity.</message>
        <message xml:lang="tr">Sistem politikası yeni kullanıcı eklemeyi engelliyor. Mühür bütünlüğünü kontrol edin.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active>auth_admin_keep</allow_active>
            <allow_inactive>auth_admin_keep</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.user.manager.setuser">
        <description>Change user details</description>
        <description xml:lang="tr">Kullanıcı bilgilerini değiştir</description>
        <message>Authentication is required to edit user details.</message>
        <message xml:lang="tr">Kullanıcı bilgilerini değiştirmek için kimlik doğrulaması gereklidir.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active>auth_admin_keep</allow_active>
            <allow_inactive>auth_admin_keep</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.user.manager.deleteuser">
        <description>Delete user</description>
        <description xml:lang="tr">Kullanıcı sil (Geri Dönülemez İşlem)</description>
        <message>System policy prevents removing user.</message>
        <message xml:lang="tr">Sistem politikası kullanıcı silmeyi engelliyor.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active>auth_admin_keep</allow_active>
            <allow_inactive>auth_admin_keep</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.user.manager.addgroup">
        <description>Add group</description>
        <description xml:lang="tr">Grup ekle</description>
        <message xml:lang="tr">Sistem politikası yeni grup eklemeyi engelliyor.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active>auth_admin_keep</allow_active>
            <allow_inactive>auth_admin_keep</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.user.manager.get">
        <description>Get user/groups</description>
        <description xml:lang="tr">Kullanıcı/grupları al (Mühürlü Sorgu)</description>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_active>yes</allow_active>
            <allow_inactive>yes</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.user.manager.listuserauthorizations">
        <description>List user authorizations</description>
        <description xml:lang="tr">Kullanıcı yetkilerini listele</description>
        <message xml:lang="tr">Sistem politikası yetki listelenmesini engelliyor.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active>auth_admin_keep</allow_active>
            <allow_inactive>auth_admin_keep</allow_inactive>
        </defaults>
    </action>
</policyconfig>
