<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
    <vendor>Ergün Salman (Poyraz76)</vendor>
    <vendor_url>mailto:ergunsalman@hotmail.com</vendor_url>
    <icon_name>computer</icon_name>

    <action id="tr.org.pardus.comar.boot.modules.setoptions">
        <description>Set module options</description>
        <description xml:lang="tr">Modül seçeneklerini değiştir (Mühürlü Yapılandırma)</description>
        <message>System policy prevents setting module options. Verify BLAKE3 seal.</message>
        <message xml:lang="tr">Sistem politikası modül seçeneklerini değiştirmeyi engelliyor. Mühür bütünlüğünü kontrol edin.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active>auth_admin_keep</allow_active>
            <allow_inactive>auth_admin_keep</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.load">
        <description>Load kernel module</description>
        <description xml:lang="tr">Çekirdek modülünü etkinleştir (ZEKA Denetimli)</description>
        <message xml:lang="tr">Sistem politikası çekirdek modülünü etkinleştirmeyi engelliyor. ZEKA çatışma analizi gereklidir.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active>auth_admin_keep</allow_active>
            <allow_inactive>auth_admin_keep</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.unload">
        <description>Unload kernel module</description>
        <description xml:lang="tr">Çekirdek modülünü etkisiz kıl</description>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active>auth_admin_keep</allow_active>
            <allow_inactive>auth_admin_keep</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.editautoload">
        <description>Edit autoload list</description>
        
