<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
    <vendor>Ergün Salman (Poyraz76)</vendor>
    <vendor_url>http://ergunsalman.hotmail.com</vendor_url>
    <icon_name>video-display</icon_name>

    <action id="tr.org.pardus.comar.xorg.display.get">
        [span_0](start_span)<description>Get display info</description>[span_0](end_span)
        [span_1](start_span)<description xml:lang="tr">Görüntü bilgisini al (Mühürlü Sorgu)</description>[span_1](end_span)
        
        <message>System policy prevents getting display info. [span_2](start_span)Check BLAKE3 integrity.</message>[span_2](end_span)
        <message xml:lang="tr">Sistem politikası görüntü bilgisini almayı engelliyor. [span_3](start_span)Mühür bütünlüğünü kontrol edin.</message>[span_3](end_span)
        
        <defaults>
            [span_4](start_span)<allow_any>yes</allow_any>[span_4](end_span)
            [span_5](start_span)<allow_active>yes</allow_active>[span_5](end_span)
            [span_6](start_span)<allow_inactive>yes</allow_inactive>[span_6](end_span)
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.xorg.display.set">
        [span_7](start_span)<description>Change display configuration</description>[span_7](end_span)
        [span_8](start_span)<description xml:lang="tr">Görüntü yapılandırmasını değiştir (Mühürlü İşlem)</description>[span_8](end_span)
        
        [span_9](start_span)<message>Authentication is required to change display configuration.</message>[span_9](end_span)
        [span_10](start_span)<message xml:lang="tr">Görüntü yapılandırmasını değiştirmek için kimlik doğrulaması gereklidir.</message>[span_10](end_span)
        
        <defaults>
            [span_11](start_span)<allow_any>auth_admin_keep</allow_any>[span_11](end_span)
            [span_12](start_span)<allow_active>auth_admin_keep</allow_active>[span_12](end_span)
            [span_13](start_span)<allow_inactive>auth_admin_keep</allow_inactive>[span_13](end_span)
        </defaults>
    </action>
</policyconfig>
