<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
    <vendor>Ergün Salman (Poyraz76)</vendor>
    <vendor_url>mailto:ergunsalman@hotmail.com</vendor_url>
    <icon_name>package</icon_name>

    <action id="tr.org.pardus.comar.system.package.postinstall">
        <description>Execute post-install script of a package</description>
        <description xml:lang="tr">Paket yükleme sonrası betiğini çalıştır (Mühürlü İcra)</description>
        
        <message>System policy prevents executing post-install script. Verify BLAKE3/MTREE integrity.</message>
        <message xml:lang="tr">Sistem politikası yükleme sonrası betiği çalıştırmayı engelliyor. Paket mühür bütünlüğünü kontrol edin.</message>
        
        <defaults>
            <allow_any>no</allow_any>
            <allow_inactive>no</allow_inactive>
            <allow_active>no</allow_active>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.package.preremove">
        <description>Execute pre-remove script of a package</description>
        <description xml:lang="tr">Paket kaldırma öncesi betiğini çalıştır</description>
        
        <message xml:lang="tr">Sistem politikası kaldırma öncesi betiği çalıştırmayı engelliyor.</message>
        
        <defaults>
            <allow_any>no</allow_any
