<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
    <vendor>Ergün Salman (Poyraz76)</vendor>
    <vendor_url>mailto:ergunsalman@hotmail.com</vendor_url>
    <icon_name>applications-internet</icon_name>

    <action id="tr.org.pardus.comar.net.stack.set">
        <description>Set hostname/nameserver info</description>
        <description xml:lang="tr">Makine adı/isim sunucu bilgisini değiştir (Mühürlü İşlem)</description>
        
        <message>System policy prevents changing host/nameserver information. Verify BLAKE3 seal and ZEKA status.</message>
        <message xml:lang="tr">Sistem politikası makine adı/isim sunucu bilgisini değiştirmeyi engelliyor. Mühür bütünlüğünü kontrol edin.</message>
        
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active>auth_admin_keep</allow_active>
            <allow_inactive>auth_admin_keep</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.net.stack.get">
        <description>Get hostname/nameserver info</description>
        <description xml:lang="tr">Makine adı/isim sunucu bilgisini al (Mühürlü Sorgu)</description>
        
        <message>System policy prevents getting host/nameserver info.</message>
        <message xml:lang="tr">Sistem politikası makine adı/isim sunucu bilgisini almayı engelliyor.</message>
        
        <defaults>
            <allow_any>yes</allow_any>
            <allow_active>yes</allow_active>
            <allow_inactive>yes</allow_inactive>
        </defaults>
    </action>
</policyconfig>
